header.header 
    .company-logo RW 
    nav.navbar 
        ul.nav-items 
            a.nav-link(href='/overview')
                li.nav-item HOME
    .menu-toggle
        i.bx bx-menu
        i.bx bx-x