doctype html 
html 
    head 
        title Rank Random | #{title}
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon", href="img/st.png", type="image/png")

    body 
        // HEADER
        include _header
        //HOME SECTION
        include _homeSection
        //- //MIDDLE SECTION
        include _middleSection
        block content 
            h1 this is a placeholder heading




