extends base

block content   
    table.resizable
        thead
            tr
                th Name
                th Genera
        each x in output
            tbody
                tr
                    td
                        a(href=`${x.name}`)=x.name
                    td=x.genera 
